body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-image: linear-gradient(to right top, #ebf9ff, #c4eafd, #9cdbfd, #70cbfe, #33bbff);
}

.calculator {
    display: flex;
    flex-direction: column;
    border-radius: 2vh;
    padding: 14vh 1.6vh 1.6vh 1.6vh;
    background-color: #f7f7f7;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 5.4vh;
    padding: 0.7vh 0;
    margin: 1.2vh 0.2vh;
    background-color: #efefef;
    border-radius: 2vh;
}

.display p {
    font-size: 2.5vh;
    margin: 0.8vh;
    color: #5e5e5e;
    overflow: hidden;
}

.number, .operator {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0.28vh;
    background-color: #ffffff;
    border: none;
    box-shadow: 0.1vh 0.1vh #d9d9d9;
    font-size: 1.7vh;
}

.number p, .operator p {
    margin: 2vh;
}

.operator {
    background-color: hsl(200, 100%, 90%);
}

.equals {
    grid-column: 3/5;
    border-radius: 2vh;
    background-color: hsl(200, 100%, 66%);
    color: #fff;
}

.number:hover {
    background-color: hsl(0, 0%, 90%);
}

.operator:hover {
    background-color: hsl(200, 100%, 83%);
}

.equals:hover {
    background-color: hsl(200, 100%, 60%);
    color: #fff;
}

#backspace-icon {
    width: 1.7vh;
}